$default-width: 100%; 
$default-height: 100%;
.mobile_bar_menu {
    display: none;
}
.menu_button {
    color: black ;
    // mat-icon {
    //     // color: black;
    // }
    span {
        font-family: 'Fira Sans', sans-serif;
        text-transform: capitalize;
        font-weight: bold;
    }
}
// banner 
.banner {
    width: 100%;
    height: 70px;
    // background:   #B90B0B;
    // color: white;
    display: grid; 

    grid-template-columns: 1fr 2fr 1fr;
  
    &_logo{
        // background: red;
        display: flex;
        justify-content: center;
        align-items: center;
        > img {
            width: 150px;
        }
    }
    &_menu{
        // background: blue;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &_userTab{
        // background: violet;
        display: grid;
        grid-template-columns: 1fr 3fr;
        &_cartIcon{
            // background: chocolate ;
            display: flex;
            justify-content: center;
            align-items: center;
             span{
                padding-left: 10px;
                font-family: 'Fira Sans',sans-serif;
            }
        }
        &_button{
            // background: rgb(19, 11, 6);
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: #;
            
             button{
                margin-left:7px; 
                margin-left:7px;
                font-family: 'Poppins', sans-serif;
                font-weight: 800;
              
            }
            
        }

    }
}

// mobile 
@media only screen and (min-width:200px) and (max-width: 550px){
    .mobile_bar_menu{
        width: 100%;  display: flex;justify-content: center;
        > button {
            margin-top: 10px ;  width: 90%; font-family: 'Poppins', sans-serif;
        }
    }
    .banner_userTab_cartIcon{
         span{
            display: none;
        }
    }
    .banner_userTab_button{
        display: none;
    }
}
