
  
 
  <!-- banner -->
  <section class="banner">

     <!-- links -->
     <section class="banner_menu" >

      <div>

       
        <button mat-icon-button  >
          <mat-icon>menu</mat-icon>
        </button>

      </div>
      <!-- <div>
        <div class="banner_links_link"><a [routerLink]="[ '/' ]">Acceuil</a></div>
        <div class="banner_links_link"><a [routerLink]="[ '/boutique' ]">Boutique</a></div>
        <div class="banner_links_link"><a [routerLink]="[ '/contact' ]">Blog</a></div>
        <div class="banner_links_link"><a [routerLink]="[ '/contact' ]">contact</a></div>
        <div class="banner_links_link"><a [routerLink]="[ '/contact' ]">About</a></div>

      </div> -->
    </section>
    <!-- links -->
     
    
     <section class="banner_logo">
        <!-- <img src="/assets/bricia_logo-removebg-preview.png" alt='hfdjhf'> -->
         <span>Bricia Consulting</span>
     </section>
     
   
    
   
   
     <!-- userTab -->
     <section class="banner_userTab">
         <!-- icon -->
         <div class="banner_userTab_cartIcon">
             <!-- <div class="banner_userTab_cartIcon_icon"></div> -->
   
           <button mat-flat-button  routerLink='/mon-panier' >
            <mat-icon  svgIcon="thumbs-up" matBadge={{this.cartService.cartCounter}} ></mat-icon>
            <span>Panier</span>
          </button>
         </div>
         <!-- icon -->
   
         <!-- button -->
         <div class="banner_userTab_button">
             <button  mat-stroked-button style="color: black ;" *ngIf="this.authService.isConnected === 'true' "  routerLink='/mon-compte'> Mon compte <mat-icon>lock_open</mat-icon> </button>
             <button mat-stroked-button   *ngIf="this.authService.isConnected === 'false' || this.authService.isConnected === null " [routerLink]="[ '/user' ]">Se connecter</button>
             <button mat-flat-button  color='primary'  style="background-color: rgb(187, 30, 50);" *ngIf="this.authService.isConnected === 'false' || this.authService.isConnected === null " [routerLink]="[ '/user' ]"> S'inscrire  </button>
         </div>
       <!-- button -->
     </section>

  </section>
   <!-- banner -->


 


