<nb-layout>
    <nb-layout-header fixed>
        <banner style="width: 100%;"></banner>
    </nb-layout-header>

    <nb-layout-column style="padding: 0px !important; background: white !important;">
        <section class="page_not_found">
            <section>
                <!-- icon  -->
                <div class="page_not_found_icon">
                    <img src="" alt="image 404 not found">
                </div>
                <!-- icon  -->

                <div class="page_not_found_title">
                    <span>Page introuvable</span>
                </div>
            </section>
        </section>
    </nb-layout-column>
</nb-layout>