<nb-layout>
    <nb-layout-header fixed>
        <banner style="width: 100%;"></banner>
    </nb-layout-header>

    <nb-layout-column style="padding: 0px !important; background: white !important;">
        <section class="common_banner">
            <div class="overlay">
              <div>
                <span>Page Introuvable</span>
              </div>
              
            </div>
            
            <div class="common_banner_content">
              <!-- common banner content -->
              <div></div>
        
              <!-- pizza bg header -->
              <div class="pizza_icon">
                <div>
                </div>
              </div>
            </div>
          </section>
        <section class="page_not_found">
            <section style="display: flex; justify-content: center; align-items:center;">
                <!-- icon  -->
                <div class="page_not_found_icon">
                    <img src="https://pro-theme.com/html/spedito/assets/img/pages/404/404.svg" alt="image 404 not found">
                </div>
                <!-- icon  -->

                <!-- <div class="page_not_found_title"> -->
                    <!-- <span style="font-size: 8em;">404</span> -->
                    <!-- <span>Page introuvable</span> -->
                <!-- </div> -->
            </section>
            
        </section>
        
    </nb-layout-column>
</nb-layout>