.page_not_found{
    width: 100%;
    height: 100%;
    // background: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    > section {
        width: 90%;
        height: 90% ;
        // background: orange;

    }
    &_icon {
        height: 80%;
        width: 100%;
        // background: blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_title {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        // background: crimson;
        text-align: center;
        > span {
            font-family: 'Poppins', sans-serif;
            font-size: 4em;
            text-transform: capitalize;
            line-height: 1em;
        }
    }
}
@media only screen and (min-width:200px) and (max-width: 550px){
    .page_not_found{
        &_title {
            > span {
                font-size: 2.5em;
            }
        }
    }
}