<!-- mat error -->
<section class="page_password">
    <section class="page_password_content">
        <div>
            <!-- title -->
            <div class="page_password_content_title">
                <span>Entrez un nouveau mot de passe</span>
            </div>
            <!-- title -->

            <div class="page_password_content_form">
                <form  (ngSubmit) ='addNewPassword()' [formGroup] ='newPasswordGroup' action="/">

        
                    <!-- new password  form -->
                    <mat-form-field appearance="outline">
                        <mat-label style="font-family: 'Roboto Condensed', sans-serif;  ">Nouveau mot de passe</mat-label>
                        <input formControlName='newPassword' type="password" matInput placeholder="Entrez votre nouveau mot de passe" required>
                        
                        <!-- <mat-error *ngIf="newPasswordGroup.controls['newPassword'].hasError('required')">
                            <span style="font-family: 'Roboto Condensed', sans-serif;  " >Requis</span>
                       </mat-error> -->

                       <mat-error *ngIf="newPasswordGroup.controls['newPassword'].hasError('minlength')">
                        <span style="font-family: 'Roboto Condensed', sans-serif;  " > Le mot de passe doit contenir au moins 6caractères</span>
                   </mat-error>
                      
                    </mat-form-field>
                    <!-- new password form -->
                
                    <!-- confirm password form -->
                    <mat-form-field appearance="outline">
                        <mat-label style="font-family: 'Roboto Condensed', sans-serif; " >Confirmer le mot de passe </mat-label>
                        <input formControlName ='confirmPassword' type="password" matInput placeholder="confirmer le mot de passe" required>
                
                        <mat-error *ngIf="newPasswordGroup.controls['confirmPassword'].hasError('required')">
                             <span style="font-family: 'Roboto Condensed', sans-serif;  ">Requis</span>
                        </mat-error>
                        <mat-error *ngIf="newPasswordGroup.controls['confirmPassword'].touched && newPasswordGroup.controls['confirmPassword'].hasError('NoPassswordMatch')">
                            <span>Le mot de passe ne correspond pas</span>
                        </mat-error>
                        <mat-error *ngIf="newPasswordGroup.controls['confirmPassword'].hasError('minlength')">
                            <span style="font-family: 'Roboto Condensed', sans-serif;  " >Le mot de passe doit contenir au moins 6caractères</span>
                       </mat-error>
                    </mat-form-field>
                <!-- confirm password form  -->
    
            <button [ngStyle]="!newPasswordGroup.invalid?{'background': '#106EE8', 'color':'white'} : {'color':'black'} " [disabled]='newPasswordGroup.invalid' mat-flat-button type="submit">
                        <span>Valider</span>
                    </button>
                </form>
            </div>
            

        </div> 
    </section>
</section>
<!-- mat error -->


          

