<nb-layout>


    <nb-layout-column>
  

      <section class='thankyou'>
        <!-- header -->
        <nb-layout-header subheader>
          <div class='thankyou_banner'>

            <!-- go back home -->
              <div> 
                
             <button mat-icon-button routerLink='/' ><mat-icon>arrow_back</mat-icon> </button> 
              <span>Accueil</span>
  
  
              </div>
              <!-- go back home -->
  
  
              <!-- title -->
              <div> 
               
              <p>Bricia Consulting</p>
  
             </div>
             <!-- title -->
  
  
  
  
      
              <!-- // <p>
  
              // Merci pour votre commande
      
      
              // identifiant de commande: {{orderId}}
                  
              // <a routerLink ='/boutique'> 
              //     Boutique
              // </a>
              // </p>  -->
          </div>
        </nb-layout-header>
        <!-- header -->
        

        <!-- image -->
        <div class='thankyou_img'>
            <img src="/assets/undraw_Order_delivered_re_v4ab.svg" alt="Bricia consulting commande terminée" >

       

              <div>
                <span>Votre commande a bien été effectuée </span>
              </div>
              
              <br>

              <div>
               
                <button routerLink='/boutique' mat-flat-button style="background-color: #106EE8; color: white ;">Retourner à la boutique</button>

              </div>
          
        </div>
        <!-- image -->
          
     </section>
     </nb-layout-column>
</nb-layout>