<nb-layout>


  <nb-layout-header fixed>
    <banner style="width:100%;"></banner>
  </nb-layout-header>


    <nb-layout-column style="padding: 0px !important; background-color: white !important;">
  

      <section class='thankyou'>
        <!-- image -->
        <div class='thankyou_img'>
            <img src="/assets/undraw_Order_delivered_re_v4ab.svg" alt="Bricia consulting commande terminée" >

       

              <div>
                <span>Votre commande a bien été effectuée </span>
              </div>
              
              <br>

              <div>
               
                <button routerLink='/notre-menu' mat-flat-button>Retourner à la boutique</button>

              </div>
          
        </div>
        <!-- image -->
          
     </section>
     </nb-layout-column>
</nb-layout>