<nb-layout>


  <nb-layout-header fixed>
    <banner style="width:100%;"></banner>
  </nb-layout-header>


    <nb-layout-column style="padding: 0px !important; background-color: white !important;">
      <section class="common_banner">
        <div class="overlay">
          <div>
            <span>Commande effectué🥳</span>
          </div>
          
        </div>
        
        <div class="common_banner_content">
          <!-- common banner content -->
          <div></div>
    
          <!-- pizza bg header -->
          <div class="pizza_icon">
            <div>
            </div>
          </div>
        </div>
      </section>

      <section class='thankyou'>
        <!-- image -->
        <div class='thankyou_img'>
            <img src="/assets/undraw_Order_delivered_re_v4ab.svg" alt="Bricia consulting commande terminée" >

       

              <br>

              <div>
               
                <button routerLink='/notre-menu' mat-flat-button>Retourner à la boutique</button>

              </div>
          
        </div>
        <!-- image -->
          
     </section>
     </nb-layout-column>
</nb-layout>