
<nb-layout>
    <nb-layout-header fixed>
        <banner style="width: 100%;"></banner>
    </nb-layout-header>


    <nb-layout-column style="padding: 0px !important;"  [nbSpinner]="showLoader" nbSpinnerSize="giant" nbSpinnerStatus="primary" >
        <!-- event banner -->
        <section class="event_banner">

            <!-- banner info -->
            <div class="event_banner_info">


                <!-- title -->
                <div>
                    <!-- title -->
                    <div  class="event_banner_info_title">
                        <span>évenements à venir</span>
                    </div>
                    <!-- title -->

                    <!-- paragraph -->
                    <div class="event_banner_info_paragraph">
                        <span>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis dolorem dolores veritatis minus fuga rem, non magni accusantium repellendus? Voluptatem quia id tempore voluptatum similique, soluta vel excepturi eos hic?
                        </span>
                    </div>
                    <!-- paragraph -->
                </div>
                <!-- title -->

                <!-- research  -->
                <div class="event_banner_research">
                    <div>
                        <input type="text" placeholder="Rechercher un évenement" (keyup.enter)= 'searchEvents(research)' [(ngModel)]="research">
                        <button (click)="searchEvents(research)" mat-flat-button >Rechercher</button>
                    </div>
                    
                 
                </div>
                <!-- research -->
            </div>
            <!-- banner info -->


        </section>
        <!-- event banner -->

        <!-- body -->
        <section class="event_body" >

            <!-- intro -->
            <div class="event_body_intro">
                    <!-- title -->
                    <div class="event_body_intro_title">
                        <div>
                            <span>
                                Notre équipe organise des évènements et vous fait vivre des moments de rêve..
                            </span>
                        </div>
                        
                    </div>
                    <!-- title -->

                    <!-- desc -->
                    <div class="event_body_intro_desc">
                        <div>
                            <span>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque iste, doloribus officia numquam id soluta iusto error alias ducimus! Sed eum eligendi dolores fuga dolorem iure voluptates at, distinctio ipsa?
                            </span>
                        </div>
                      
                    </div>
                    <!-- desc  -->
               
            </div>
            <!-- intro -->

            <!-- content -->
            <div class="event_body_allevents" >
               
                <!-- event body content -->
                <div class="event_body_content">
          
                    <!-- title -->
                    <div class="event_body_content_title">
                        <span>
                           Soyez en avant première pour tous nos évenements..
                        </span>
                    </div>
                    <!-- title -->

                    <!-- desc  -->
                    <div class="event_body_content_desc">
                        <span>
                            ...Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime accusamus earum architecto vitae, voluptatum corrupti dignissimos, temporibus quibusdam saepe amet provident, repellendus sit natus quod. Commodi deleniti nulla temporibus odio.
                        </span>
                    </div>
                    <!-- desc -->

                    <!-- button -->
                    <button [routerLink]=" ['/evenements', event.id] "  mat-stroked-button *ngFor="let event of events">
                          <div class="event_body_content_button">
                              <!-- event date -->
                              <div class="event_body_content_date">
                                  <p> {{event.start_date_details.day }}</p>
                              <span>{{event.start_date | date: 'MMM'}}</span>
                                  
  
                              </div>
                              <!-- event date -->
  
                              <!-- event title , description and price -->
                              <div  class="event_body_content_info">
                              <div class="event_body_content_info_name">
                                  <a> {{event.title}} </a>
                              </div>
                              </div>
                              <!-- event title , description and price -->
  
                              <!-- event img -->
                              <div class="event_body_content_info_image">
                                  <img  src="{{event.image.url}}" alt="image évènement Authority compagnie sarl">
                              </div>
                              <!-- event img -->
                          </div>
                   </button>
                   <!--  button -->
  
  
                  </div>
                  <!-- event body content -->


                <!-- event body background -->
                <div class="event_body_background" >
                    <!-- <span>je suis la</span> -->
                </div>
                <!-- event body background -->

            </div>
           
            <!-- content -->
        </section>
        <!-- body -->
      
           <!-- footer -->
           <app-footer></app-footer>
           <!-- footer -->
    </nb-layout-column>
</nb-layout>
