<section class="product_backButtons">

    <!-- shop home button -->
    <div> 
         <button routerLink='/' mat-flat-button >
             <mat-icon>home</mat-icon>
            <a>Accueil</a>
        </button>
     </div>
     <!-- shop home button  -->


     <!-- shop back button  -->
    <div>
        <button routerLink ='/notre-menu' mat-flat-button>
            <mat-icon>shopping_cart</mat-icon>
            <a>Boutique</a>
        </button>
    </div>
    <!-- shop back button  -->

 

</section>