.page_cm_banner {
  width: 100%;
  height: 500px;
  background: #cc3528;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.page_cm_banner_header {
  background-color: #cc3528;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_cm_banner_header > div {
  height: auto;
}

.page_cm_banner_header_title {
  height: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page_cm_banner_header_title > span {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 4em;
  line-height: 1em;
  color: white;
}

.page_cm_banner_header_desc {
  padding: 20px;
}

.page_cm_banner_header_desc > span {
  font-family: 'Fira Sans', sans-serif;
  color: white;
}

.page_cm_banner_header_button {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.page_cm_banner_header_button > button {
  font-family: 'Poppins', sans-serif;
  width: 150px;
  background-color: #106EE8;
  border-radius: inherit;
}

.page_cm_banner_header_button > button span {
  color: white;
}

.page_cm_content_intro {
  width: 100%;
  height: 300px;
}

.page_cm_content_intro > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_cm_content_intro_title, .page_cm_content_intro_desc {
  height: auto;
  padding: 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.page_cm_content_intro_title > span, .page_cm_content_intro_desc > span {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1em;
  font-family: 'Poppins', sans-serif;
}

.page_cm_content_intro_desc {
  width: 90%;
}

.page_cm_content_intro_desc > span {
  font-size: 1em;
  font-weight: normal;
  font-family: 'Fira Sans', sans-serif;
}

.page_cm_content_offers {
  width: 100%;
  height: auto;
}

.page_cm_content_offers_title {
  width: 100%;
  height: 100px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_cm_content_offers_title > span {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  text-transform: capitalize;
}

.page_cm_content_offers_content {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page_cm_content_offers_content > div {
  height: 100%;
  width: 300px;
}

.page_cm_content_offers_content1, .page_cm_content_offers_content2, .page_cm_content_offers_content3 {
  background-color: green;
}

.page_cm_content_offers_content1_icon, .page_cm_content_offers_content2_icon, .page_cm_content_offers_content3_icon {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page_cm_content_offers_content1_title, .page_cm_content_offers_content2_title, .page_cm_content_offers_content3_title {
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
}

.page_cm_content_offers_content1_title > span, .page_cm_content_offers_content2_title > span, .page_cm_content_offers_content3_title > span {
  color: white;
}

.page_cm_content_offers_content1_list, .page_cm_content_offers_content2_list, .page_cm_content_offers_content3_list {
  height: auto;
  padding: 20px;
  text-align: center;
}

.page_cm_content_offers_content1_list > span, .page_cm_content_offers_content2_list > span, .page_cm_content_offers_content3_list > span {
  font-family: 'Fira Sans',sans-serif;
  color: white;
}

.page_cm_content_offers_content2 {
  background-color: orange;
}

.page_cm_content_offers_content3 {
  background-color: #106EE8;
}

.page_cm_content_team {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.page_cm_content_team_title {
  width: 100%;
  height: 100px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_cm_content_team_title > span {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  text-transform: capitalize;
}

.page_cm_content_team_content {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page_cm_content_team_content_user {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page_cm_content_team_content_user > div {
  background: black;
  color: white;
}

.page_cm_content_team_content_name, .page_cm_content_team_content_role {
  padding: 10px;
}

.page_cm_content_team_content_name > span, .page_cm_content_team_content_role > span {
  font-family: 'Poppins', sans-serif;
}

.page_cm_content_team_content_role > span {
  font-family: 'Fira Sans', sans-serif;
  text-transform: capitalize;
}

.page_cm_content_contact {
  width: 100%;
  height: auto;
}

.page_cm_content_contact_title {
  width: 100%;
  height: 100px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_cm_content_contact_title > span {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  text-transform: capitalize;
  line-height: 1em;
  text-align: center;
}

.page_cm_content_contact_desc {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_cm_content_contact_desc > div {
  width: 90%;
}

.page_cm_content_contact_desc > div > span {
  font-family: 'Fira Sans', sans-serif;
}

@media only screen and (min-width: 200px) and (max-width: 550px) {
  .page_cm_banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
  }
  .page_cm_banner_header {
    padding: 0px;
  }
  .page_cm_banner_header_title > span {
    font-size: 3em;
  }
  .page_cm_content_intro {
    height: auto;
    margin-bottom: 20px;
  }
  .page_cm_content_intro > div {
    padding: 20px;
  }
  .page_cm_content_intro_title {
    padding: 0px;
    width: 90%;
  }
  .page_cm_content_intro_title > span {
    font-size: 1.8em;
  }
  .page_cm_content_contact {
    height: auto;
  }
  .page_cm_content_contact_desc {
    margin-top: 20px;
  }
  .page_cm_content_team {
    height: auto;
    margin-bottom: 20px;
  }
  .page_cm_content_team_content {
    width: 100%;
  }
}

@media only screen and (min-width: 200px) and (max-width: 990px) {
  .page_cm_banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .page_cm_banner_header {
    height: 100vh;
  }
  .page_cm_content_offers {
    background: gray;
    margin-bottom: 20px;
  }
  .page_cm_content_offers_content > div {
    margin: 20px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 320px) {
  .page_cm_banner_header_title > span {
    font-size: 2.5em;
  }
  .page_cm_content_contact_title > span {
    font-size: 2em;
  }
}
/*# sourceMappingURL=community-management.component.css.map */