<nb-layout>
    <nb-layout-header fixed>
        <banner style="width: 100%;"></banner>
    </nb-layout-header>

    <nb-layout-column  style="padding: 0px !important; background-color: white !important;">
        <!-- banner -->
        <section class='page_cm_banner'>
            <!-- header -->
            <section class="page_cm_banner_header">
                <div>
                    <!-- title -->
                    <div class="page_cm_banner_header_title">
                        <span>Vous recherchez un Community Manager ?</span>
                    </div>
                    <!-- title -->

                    <!-- desc -->
                    <div class="page_cm_banner_header_desc">
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, voluptate laborum odit molestias at, ipsa inventore doloremque iusto debitis amet mollitia cupiditate vitae accusamus, libero eligendi aperiam esse quo est.</span>
                    </div>
                    <!-- desc -->

                    <!-- button -->
                    <div class="page_cm_banner_header_button">
                        <button mat-flat-button>
                            <span>Contactez-nous</span>
                        </button>
                    </div>
                    <!-- button -->
                </div>
            </section>
            <!-- header -->

            <!-- background  -->
            <section class="page_cm_banner_background">

            </section>
            <!-- background -->
        </section>
        <!-- banner -->

        <!-- page content intro -->
        <section class="page_cm_content_intro">
            <!-- title -->
            <div>
                <div class="page_cm_content_intro_title">
                    <span>
                        Notre équipe élabore, anime et modère pour vous les réseaux sociaux de votre marque...
                    </span>
                </div>
            </div>
            <!-- title -->

            <!-- desc -->
            <div>
                <div class="page_cm_content_intro_desc">
                    <span>
                        ... Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur odio, modi rerum non excepturi illo iure quasi, impedit sint praesentium voluptatum ipsum? Distinctio, facilis repellendus voluptatem quas voluptas quos officiis.
                    </span>
                </div>
            </div>
            <!-- desc -->
            
        </section>
        <!-- page content intro -->

        <!-- page content offers -->
        <section class="page_cm_content_offers" >
            <div class="page_cm_content_offers_title">
                <span>
                    Nos offres
                </span>
            </div>

                <div class="page_cm_content_offers_content">
                    <div class="page_cm_content_offers_content1">
                        <div class="page_cm_content_offers_content1_icon">
                            je suis une icône
                        </div>

                        <div class="page_cm_content_offers_content1_title">
                          <span>WebMarketing</span>
                        </div>

                        <div class="page_cm_content_offers_content1_list">
                               <span>
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint cum distinctio quam consequatur nesciunt ea beatae pariatur corporis dignissimos velit itaque nemo, magni rerum soluta, culpa blanditiis ex facilis atque?
                               </span>
                        </div>

                    </div>
                    <div class="page_cm_content_offers_content2">
                        <div class="page_cm_content_offers_content2_icon">
                            je suis une icône
                        </div>

                        <div class="page_cm_content_offers_content2_title">
                          <span>Community Management</span>
                        </div>

                        <div class="page_cm_content_offers_content2_list">
                                <span>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque natus optio corrupti pariatur, ipsa voluptates voluptate eligendi temporibus, distinctio fugiat, laboriosam in! Animi quasi earum provident architecto corrupti autem tempora.
                                </span>
                        </div>

                    </div>
                    <div class="page_cm_content_offers_content3">
                        <div class="page_cm_content_offers_content3_icon">
                            je suis une icône
                        </div>

                        <div class="page_cm_content_offers_content3_title">
                          <span>SEO</span>
                        </div>

                        <div class="page_cm_content_offers_content3_list">
                            
                           <span>
                               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo labore dolore optio rem, obcaecati beatae animi magni, eum, architecto at enim iure autem laborum delectus quaerat culpa? Quia, ipsum adipisci.
                           </span>
                            
                        </div>

                    </div>
                </div>
        </section>
        <!-- page content offers -->

        <!-- page content team -->
        <section class="page_cm_content_team">
            <div class="page_cm_content_team_title">
                <span>Notre équipe</span>
            </div>

            <!-- content -->
            <div style="display: flex;justify-content: center;width: 100%;">
                <div class="page_cm_content_team_content">
                    <swiper [config]='config' style="width: 100%;">
                        <ng-template *ngFor="let tm of team"  swiperSlide >
                            <div style="display: flex; justify-content: center;">
                                <div class="page_cm_content_team_content_user">
                                    <div>
                                        <div class="page_cm_content_team_content_name">
                                            <span>
                                                {{tm.name}}
                                            </span>
                                        </div>
                
                                        <div class="page_cm_content_team_content_role">
                                            <span>
                                                {{tm.role}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </swiper>
                   
                </div>
            </div>
            <!-- content -->
           
        </section>
        <!-- page content team -->

        <!-- page content contact -->
        <section class="page_cm_content_contact">
            <div class="page_cm_content_contact_title">
                <span>N'hésitez pas à nous contacter</span>
            </div>

            <div class="page_cm_content_contact_desc">
                <div>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quis, voluptates quaerat a, totam laudantium, enim cupiditate repellat doloribus omnis perspiciatis tenetur sed impedit ratione mollitia exercitationem aperiam aliquam. Doloremque!
                    </span>
                </div>
            </div>

            <div>
                <app-contact></app-contact>
            </div>
        </section>
        <!-- page content contact -->

        <!-- footer -->
        <app-footer></app-footer>
        <!-- footer  -->
    </nb-layout-column>
</nb-layout>