<section style="width:100%; height: auto; background-color: white;">
    <section class="footer">

        <div>
           
          <div class="footer_logo">
              <img src="/assets/Authority_compagnie_sarl.png" alt="">
          </div>
      
          <div class="footer_localisation">
              <span>LDFJkdjfdklfjM</span>
          </div>
          
          <div class="footer_tel">
              <span>
                  +228 93 54 64 39
              </span>
           <span>
              +228 93 54 64 39
          </span>
          </div>
          
          <div class="footer_email">
              <span>
                  wilfriedproject@gmail.com
              </span>
          </div>
        </div>
      
        
        
       
      </section>
      
      <mat-divider></mat-divider>
      <section class="footer_end">
          <span>
              @Copyright2021 - Tout droits réservés
          </span>
      </section>
</section>

