
  <nb-layout >
    <!-- header -->
    <nb-layout-header>
      <banner style="width: 100%;"></banner>
    </nb-layout-header>
    <!-- header -->


    <!-- body -->
    <nb-layout-column style="padding: 0px !important; display: block  !important; background-color: #f5f6f7 !important;" [nbSpinner]="showLoader" nbSpinnerSize="giant" nbSpinnerStatus="primary">


      <!-- <app-header [title]="title"></app-header> -->
      <section class="common_banner">
        <div class="overlay">
          <div>
            <span>{{title}}</span>
          </div>
        </div>
        <div class="common_banner_content">
          <!-- common banner content -->
          <div></div>
    
          <!-- pizza bg header -->
          <div class="pizza_icon">
            <div>
            </div>
          </div>
        </div>
      </section>
    

      <!-- back buttons -->
      <section class="page_backButtons">
        <back-buttons style="display: none; justify-content: center;"></back-buttons>
      </section>
      <!-- back buttons -->
    <section  >
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12">
            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
              <div *ngIf="cart.length > 0" class="card-body p-0">
                <div class="row g-0">
                  <div class="col-lg-8">
                    <div class="p-5">
                      <div class="d-flex justify-content-between align-items-center mb-5">
                        <h1 class="fw-bold mb-0 text-black">Panier d'achat</h1>
                        <h6 class="mb-0 text-muted">{{cart.length}} Produits</h6>
                      </div>
                      <hr class="my-4">
    
                      <div  *ngFor="let product of cart; let i= index"  class="row mb-4 d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img [src]="sanitizer.bypassSecurityTrustResourceUrl(product.images[0].src) " class="img-fluid rounded-3" alt=" {{product.images[0].alt}} ">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <h6 class="text-black mb-0">{{product.name}}</h6>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                          <button [disabled] ='product.quantity ===  1' matTooltip="Diminuer" mat-icon-button (click)="decreaseProduct(product)"><mat-icon>remove</mat-icon></button>
    
                          <button mat-icon-button>{{product.quantity}}</button>
    
                            <button matTooltip="Augmenter" mat-icon-button (click)="increaseProduct(product)" >
                              <mat-icon>add</mat-icon>
                            </button>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h6 class="mb-0">{{product.quantity}} x {{product.price | currency: 'XOF'}}</h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <div style="color: red;">
                            <button matTooltip="Supprimer le produit" (click)="removeCartProduct(product, i)"  mat-icon-button><mat-icon>delete_outline</mat-icon></button>
                          </div>
                        </div>
                      </div>
    
                      <hr class="my-4">
    
    
    
                      <div class="pt-5">
                        <h6 class="mb-0"><a href="/" class="text-body"><i
                              class="fas fa-long-arrow-alt-left me-2"></i>Revenir au menu</a></h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 bg-grey">
                    <div class="p-5">
                      <h3 class="fw-bold mb-5 mt-2 pt-1">Détails</h3>
                      <hr class="my-4">
    
                      <div class="d-flex justify-content-between mb-4">
                        <h5 class="text-uppercase">Sous total: </h5>
                        <h5>{{subtotal | currency: 'XOF'}}</h5>
                      </div>

    
                      <mat-divider></mat-divider>
    
                      <h5 class="text-uppercase mb-3">Code Promo:</h5>
    
                      <div class="mb-5">
                        <div class="form-outline">
                           <input type="text" placeholder="Entrez votre code promo" [(ngModel)]="promoInput">
                           <button mat-stroked-button [disabled]='!promoInput' (click)="applyPromoCode()">valider</button>
                        </div>
                      </div>
    
                      <hr class="my-4">
    
                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Total</h5>
                        <h5>{{subtotal | currency: 'XOF'}}</h5>
                      </div>
    
                      <button mat-flat-button class="cart__button" routerLink = '/checkout' >Commander</button>
    
                    </div>
                  </div>
                </div>
              </div>

            </div>
            
            <div *ngIf="cart.length ==0 " style="margin-top:30px; display: flex ;flex-direction:column; justify-content: center ;align-items: center;">
              <img style="width: 300px;" src="https://pro-theme.com/html/spedito/assets/img/pages/cart/img-cart.png" alt="Pas de produit dans la carte">

              <div style="margin-top: 30px;font-size:3em; font-family: Lilita One;">
                <span >Panier vide</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <app-footer></app-footer> -->
    </nb-layout-column>
  </nb-layout>
