
  <nb-layout >
    <!-- header -->
    <nb-layout-header>
      <banner style="width: 100%;"></banner>
    </nb-layout-header>
    <!-- header -->


    <!-- body -->
    <nb-layout-column style="padding: 0px !important; display: block  !important;" [nbSpinner]="showLoader" nbSpinnerSize="giant" nbSpinnerStatus="primary">

      <!-- banner -->
      <section class="page_banner">
        <span>Mon panier</span>
      </section>
      <!-- banner -->

      <!-- back buttons -->
      <section class="page_backButtons">
        <back-buttons style="display: flex; justify-content: center;"></back-buttons>
      </section>
      <!-- back buttons -->

      <!-- page -->
      <section class="page">

        <!-- page cart -->
        <section *ngIf="cart.length > 0" class="page_cart">

         
          <!-- cart order -->
          <section class="page_cart_order">
            <div class="page_cart_order_product" *ngFor="let product of cart; let i= index">

              <!-- delete icon -->
              <div class="page_cart_order_product_icon">
                <button matTooltip="Supprimer le produit" (click)="removeCartProduct(product, i)"  mat-icon-button><mat-icon>delete_outline</mat-icon></button>
              </div>
              <!-- delete icon  -->

              <!-- product image -->
              <div class="page_cart_order_product_image" >
                <img [src]="sanitizer.bypassSecurityTrustResourceUrl(product.images[0].src) " alt=" {{product.images[0].alt}} ">
              </div>
              <!-- product image -->

              <div class="page_cart_order_product_name">
                <span>
                  {{product.name}}
                </span>
              </div>

              <!-- product price-->
              <div class="page_cart_order_product_price" >
                <span>
                  {{product.quantity}} x {{product.price | currency: 'XOF'}}
                </span>
              </div>
              <!-- product price-->


              <!-- product actions buttons -- increase and decrease -->
              <div class="page_cart_order_product_actionButtons" >
                
                <button [disabled] ='product.quantity ===  1' mat-icon-button (click)="decreaseProduct(product)"><mat-icon>remove</mat-icon></button>
                <span>
                    {{product.quantity}} 
                </span>
                <button mat-icon-button (click)="increaseProduct(product)" ><mat-icon>add</mat-icon></button>

                <span class="page_cart_order_product_actionButtons_price" >
  
                  {{product.quantity * product.price | currency: 'XOF'}}
                
                </span>
              </div>
            <!-- product actions buttons -- increase and decrease -->

            <!-- mobile action buttons -->
            <aside class="page_cart_order_product_mobileActionButtons">
              <!--  button -->
              <div class="page_cart_order_product_mobileActionButtons_button">
                <button [disabled] ='product.quantity ===  1' mat-icon-button (click)="decreaseProduct(product)"><mat-icon >remove</mat-icon></button>
              </div>
              <!-- button -->

              <!-- quantity -->
              <div  class="page_cart_order_product_mobileActionButtons_quantity" >
                <span >
                  {{product.quantity}} 
              </span>
              </div>
              <!-- quantity -->
             
              <!-- button  -->
              <div  class="page_cart_order_product_mobileActionButtons_button">
                <button mat-icon-button (click)="increaseProduct(product)" ><mat-icon>add</mat-icon></button>

              </div>
            <!-- button -->

            </aside>
            <!-- mobile action buttons -->

            </div>

          </section>
          <!-- cart order -->



          <!-- cart purshase -->
          <section class="page_cart_purshase">

            <!-- subtotal -->
            <div class="page_cart_purshase_subtotal">
              <span  class="page_cart_purshase_subtotal_title">Sous-total:</span>
              <span  class="page_cart_purshase_subtotal_price">
                {{subtotal | currency: 'XOF'}}
              </span>
            </div>
            <!-- subtotal -->

            <mat-divider></mat-divider>

            <!-- code promo value -->
            <div *ngIf="promoValue !== null " class="page_cart_purshase_promoValue">
              <span  class="page_cart_purshase_promoValue_title">Réduction: </span>
              <span   class="page_cart_purshase_promoValue_price">
                -{{promoValue | currency: 'XOF'}}
              </span >
            </div>
            <mat-divider  *ngIf="promoValue !== null "></mat-divider>

            <!-- code promo value -->

            <!-- total -->
            <div class="page_cart_purshase_total">
              <span class="page_cart_purshase_total_title">Total:</span>
              <span class="page_cart_purshase_total_price">
                {{total | currency: 'XOF'}}
              </span>
            </div>
            <!-- total -->

            <mat-divider></mat-divider>

            
            <!-- promo input -->
            <div class="page_cart_purshase_promoInput">
              <span class=" page_cart_purshase_promoInput_title">Code promo:</span>
              <!-- formulaire pour le code promo -->
                <input type="text" placeholder="Entrez votre code promo" [(ngModel)]="promoInput">
              <!-- formulaire pour le code promo -->
              <button mat-stroked-button [disabled]='!promoInput' (click)="applyPromoCode()">valider</button>
            </div>
            <!-- promo input -->
            <mat-divider></mat-divider>

            <!-- checkout button  -->
              <div class="page_cart_purshase_checkoutButton">
                <button mat-flat-button  routerLink = '/checkout' >Commander</button>
              </div>
            <!-- checkout button  -->
          </section>

          <!-- cart purshase -->
        </section>
        <!-- page cart -->

        <!-- page cart empty -->
        <section *ngIf="cart.length === 0" class="page_cart_empty">
          <!-- icon -->
            <div class="page_cart_empty_icon">
              <img src="assets/delete.svg" alt="icône panier d'achat vide">
            </div>
            <!-- icon -->

            <!-- info -->
            <div class="page_cart_empty_info">
              <span>Votre panier d'achat est vide actuellement</span>
            </div>
            <!-- info -->


            <!-- back button -->
            <div class="page_cart_empty_backButton">
              <button routerLink ='/boutique' mat-flat-button> Retourner à la boutique</button>
            </div>
            <!-- back button -->
        </section>
        <!-- cart empty -->
      </section>
    <!-- page  -->

    </nb-layout-column>
  </nb-layout>
