
 <nb-layout>
     <nb-layout-header fixed>
         <banner style="width: 100%;"></banner>
     </nb-layout-header>

     <nb-layout-column style="padding: 0px !important; background-color: white;">
                <!-- page reset -->
        <section class="page_reset">
            <section class="page_reset_content">
                <div >

                    <!-- erreur -->
                    <div *ngIf="showError">
                        <nb-alert  style="font-family: 'Roboto Condensed', sans-serif;" status='danger' closable (close)='onClose()'>Email non enregistré ou non valide</nb-alert>
                    </div>
                    <!-- erreur -->

                    <!-- title -->
                    <div class="page_reset_content_title">
                    <span> Vous avez perdu votre mot de passe ?</span>
                    </div>
                    <!-- title -->

                    <!-- desc -->
                    <div class="page_reset_content_desc">
                        <span>Entrez votre adresse email.Vous recevrez un lien par e-mail pour créer un nouveau mot de passe.</span>
                    </div>
                    <!-- desc -->

                    <!-- form -->
                    <div class="page_reset_content_form">
                        <form  method='post' action="/" (ngSubmit)='sendPasswordEmail()'>

                            <mat-form-field appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input [formControl] ='resetEmailForm' matInput type='email' placeholder="Entrez votre adresse email" required>
                                    </mat-form-field>
                    
                            <button [ngStyle]="!resetEmailForm.invalid?{'background': '#106EE8', 'color':'white', 'box-shadow': '0 6px 12px #868c96a6'} : {'color':'black'} "  [disabled] ='resetEmailForm.invalid' mat-flat-button  type="submit">
                                <span>Rénitialiser le mot de passe</span>
                            </button>
                        </form> 
                    </div>
                    <!-- form -->
                </div>
            </section>
        </section>
        <!-- page reset -->
     </nb-layout-column>
 </nb-layout>