nb-sidebar{
    background: rgb(187, 30, 50); 
    color: white;
    width: 200px;
    position: relative;
    margin-top: 0px ;
}
.account{
    &_sidebar{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &_banner{
        width: 100% ;
        height: 100px;
        background: gray;
        display: flex;
        justify-content: center;
        align-items: center;
    > span {
        color: white;
        font-family: 'Lilita One', sans-serif;
        font-size: 2.5EM;
        text-transform: capitalize;
       }
    

    }
 
    &_profil {
        width: 100%;
    height: auto;
    // background-color: white;
  
     > div {
         width: 100%;
        height: 100%;
        padding: 20px 20px 0 20px;
        // background-color: chocolate;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        }

        &_image {
            width: 100px;
            height: 100px;
            // border-radius: 50%;
            background-color: white;
        }
        &_name {
            
            margin-top: 20px;
            > span{
                font-family: 'Poppins', sans-serif;
                text-transform: capitalize;
                font-weight: bold ;
                font-size: 1.3em ;
            }
        }
    

    }

    &_links{
        width: 100%;
        height: auto;
        > div {
            width: 100%;
        height: auto;
        // background-color: coral ;
        margin-top: 20px;
        }
        &_link {
            height: 60px ;
            display: grid;
            grid-template-columns: 1fr 3fr;
            &_icon, &_name {
                display: flex;
                justify-content: center;
                align-items: center;
                > span{
                    text-transform: capitalize;
                }
            }
            &_name{
                justify-content: start;
                font-family: 'Poppins', sans-serif;
                
            }

            &:hover {
                background-color: rgb(161, 26, 44);
                cursor: pointer;
            }
        }
    }
    
}

