nb-sidebar{
    background: rgb(187, 30, 50); 
    color: white;
    width: 200px;
    position: relative;
    margin-top: 0px ;
}
.account{
    &_sidebar{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &_mobile_menu {
        display: none;
    }
    &_banner{
        width: 100% ;
        height: 130px;
        background: #cc3528;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column ;
    > div{
        width: 100%;
        // background: orange;
    }
    &_title {
        text-align: center;
        > span {
            color: white;
            font-family: 'Lilita One', sans-serif;
            font-size: 2.5EM;
            text-transform: capitalize;
           }
    }
    &_subtitle {
        text-align: center;
        // padding: 10px;
        padding: 5px;
        > span {
            font-family: 'Fira Sans', sans-serif;
            color: white;
            > span {
                cursor: pointer;
            color: white ;
            transition: color 0.4s;
                &:hover {
                    color:rgb(161, 26, 44); 
                    transition: color 0.4s;
                }
            }
        }
    }
 

    }
 
    &_profil {
        width: 100%;
    height: auto;
    // background-color: white;
  
     > div {
         width: 100%;
        height: 100%;
        padding: 20px 20px 0 20px;
        // background-color: chocolate;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        }

        &_image {
            width: 100px;
            height: 100px;
            // border-radius: 50%;
            background-color: white;
        }
        &_name {
            
            margin-top: 20px;
            > span{
                font-family: 'Poppins', sans-serif;
                text-transform: capitalize;
                font-weight: bold ;
                font-size: 1.3em ;
            }
        }
    

    }

    &_links{
        width: 100%;
        height: auto;
        > div {
            width: 100%;
        height: auto;
        // background-color: coral ;
        margin-top: 20px;
        }
        &_link {
            height: 60px ;
            display: grid;
            grid-template-columns: 1fr 3fr;
            &_icon, &_name {
                display: flex;
                justify-content: center;
                align-items: center;
                > span{
                    text-transform: capitalize;
                }
            }
            &_name{
                justify-content: flex-start;
                font-family: 'Poppins', sans-serif;
                
            }

            &:hover {
                background-color: rgb(161, 26, 44);
                cursor: pointer;
            }
        }
    }
    
}


@media only screen and (min-width: 200px) and (max-width: 550px){
    nb-sidebar {
        display: none;
    }

    .account_mobile_menu {
        width: 100%;
         height: 60px;display: flex;
         align-items: center;
         padding: 20px;
         font-family: 'Poppins',sans-serif;
    }
   
}