<nb-layout>
    <nb-layout-header fixed>
        <banner style="width: 100%;"></banner>
    </nb-layout-header>

    <nb-sidebar>
      <section class="account_sidebar">
        <!-- profil -->
        <section class="account_profil">
          
          <div>
            <!-- image -->
            <div class="account_profil_image">
  
             <img [src]=" sanitizer.bypassSecurityTrustResourceUrl(this.authService.ph)  " alt="image de profil utilisateur">
            </div>
            <!-- image -->
 
            <!-- name -->
            <div class="account_profil_name">
              <span>
                {{this.authService.name}}
              </span>
            </div>
            <!-- name -->
 
 
          </div>
        </section>
        <!-- profil -->

        <!-- links -->
        <section class="account_links">
          <div>
            <!-- link -->
            <div class="account_links_link" [ngStyle]="dynamicComponent === OrdersHistoricComponent?{'background-color': 'rgb(161, 26, 44)'} : {'color': 'white'} " (click)="goToHistoricComponent()">
              <div class="account_links_link_icon ">
                <mat-icon>event_note</mat-icon>
              </div>

              <div class="account_links_link_name">
                <span>
                  Historique
                </span>
              </div>
              
            </div>
            <!-- link -->
 
            <!-- link -->
            <div class="account_links_link" [ngStyle]="dynamicComponent === AccountDetailComponent?{'background-color': 'rgb(161, 26, 44)'} : {'color': 'white'} " (click)="goToAccountDetailComponent()">
              <div class="account_links_link_icon ">
                <mat-icon>account_box</mat-icon>
              </div>

              <div class="account_links_link_name">
                <span>
                  détails 
                </span>
              </div>
           </div>
           <!-- link -->


           <!-- link -->
           <div class="account_links_link" (click)="openDialog()">
             <div class="account_links_link_icon">
              <mat-icon>exit_to_app</mat-icon>
             </div>

             <div class="account_links_link_name">
               <span>Déconnexion</span>
             </div>

             <ng-template #account>
               <mat-dialog-content>
                 <span style="font-family: 'Fira Sans', sans-serif;">Voulez vous vraiment vous déconnecter ?</span>
               </mat-dialog-content>
               <mat-dialog-actions align="end">
                <button mat-flat-button mat-dialog-close style="font-family: 'Poppins', sans-serif;" >Annuler</button>
                <button style="background-color: #106EE8; color: white; font-family: 'Poppins', sans-serif;" mat-flat-button (click)="logOut()" [mat-dialog-close]="true" cdkFocusInitial>Se déconnecter</button>
              </mat-dialog-actions>
             </ng-template>
           </div>
           <!-- link -->
          </div>
        </section>
        <!-- links -->
      </section>
     
       
    </nb-sidebar>

    <nb-layout-column style="padding: 0px !important;">
        <section class="account_banner">
          <div class="account_banner_title">
            <span>Mon compte</span>
          </div>

          <div class="account_banner_subtitle"> 
            <span>
              <span routerLink= '/'>Acceuil</span> / <span routerLink='/notre-menu'>Menu</span>
            </span>
          </div>
        </section>

        <section class="account_mobile_menu">
          <button mat-flat-button [matMenuTriggerFor] ="menu"  >
            <mat-icon >sort</mat-icon>Détails
          </button>

          <mat-menu  #menu="matMenu">
            <button style="font-family: 'Poppins', sans-serif;" mat-menu-item [ngStyle]="dynamicComponent === OrdersHistoricComponent?{'background-color': 'rgb(161, 26, 44)' , 'color': 'white'} : {'color': 'black'} " (click)="goToHistoricComponent()">
                <mat-icon>event_note</mat-icon>
              <span>Historique</span>
            </button>


            <button style="font-family: 'Poppins', sans-serif;" mat-menu-item [ngStyle]="dynamicComponent === AccountDetailComponent?{'background-color': 'rgb(161, 26, 44)' ,'color': 'white'} : {'color': 'black'} " (click)="goToAccountDetailComponent()">
                  <mat-icon>account_box</mat-icon>
              <span>Détails</span>
            </button>

            <button style="color: black; font-family: 'Poppins', sans-serif;" mat-menu-item (click)="openDialog()">
                <mat-icon>exit_to_app</mat-icon>

                <span>Déconnexion</span>
            </button>
  
          </mat-menu>
        </section>

       <ng-container *ngComponentOutlet="dynamicComponent"></ng-container>
       
    </nb-layout-column>
</nb-layout>
