<section class="contact_form">
    <div>
        <form action="/email" method="POST" [formGroup] ='contactGroup' (ngSubmit) = 'onSubmit()'>
            <!-- info -->
            <div class="contact_form_info">
                

                <mat-form-field appearance='outline'>
                    <mat-label>Nom</mat-label>
                    <input matInput placeholder="Entrez votre nom" type="text" formControlName='name' required>
                    <mat-error *ngIf="contactGroup.controls['name'].hasError('required')">
                        Requis
                    </mat-error>
                </mat-form-field>

                
                <mat-form-field appearance='outline'>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Entrez votre adresse email" type="text" formControlName='email' required>
                    <mat-error *ngIf="contactGroup.controls['email'].hasError('email')">
                        Veuillez entrer une adresse email valide
                    </mat-error>
                    <mat-error *ngIf="contactGroup.controls['email'].hasError('required')">
                        Requis
                    </mat-error>
                </mat-form-field>

                

            </div>
            <!-- info -->
            
    
            <!-- subject -->
            <div class="contact_form_subject">
                <mat-form-field appearance='outline'>
                    <mat-label>Sujet</mat-label>
                    <input matInput placeholder="Entrez votre demande" type="text" formControlName='subject' required>
                    <mat-error *ngIf="contactGroup.controls['subject'].hasError('required')">
                        Requis
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- subject -->

            <!--  message -->
            <div class="contact_form_message">
                <mat-form-field appearance='outline'>
                    <mat-label>Message</mat-label>
                    <textarea style='height: 200px; width: 100%;' formControlName='message' matInput placeholder="ajouter un message"></textarea>
                    <mat-error *ngIf="contactGroup.controls['message'].hasError('required')">
                        Requis
                    </mat-error>
                </mat-form-field>
        
            </div>
            <!--  message -->

            <div class="contact_form_button">
                <button mat-flat-button [disabled] ='contactGroup.invalid'  [ngStyle]="!contactGroup.invalid?{'background-color': '#106EE8', 'color':'white ' } : {'color': 'black' } "  type="submit">Envoyer </button>

            </div>
          
    
           
            
        </form>
    </div>
    
</section>
