.contact_form {
    width: 100%;
    height: auto;
    // background: violet;
    display: flex;
    justify-content: center;
    > div {
        width: 80%;
        height: 100%;
        background-color: white;
        > form {
            width: 100%;
            height: 100%;
            // background-color: chocolate;
        }
    }
  
    &_subject, &_message {
        margin-top: 20px;
        width: 100%;
        height: auto ;
        // background-color: orangered;
        padding: 0px 20px 20px 20px;
        mat-form-field{
            width: 100%;
        }
    }
    &_message {
        margin-top: 0px;
    }
    &_button {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        button {
            // background-color: #106EE8;
            color: white;
            font-family:'Poppins', sans-serif;
            border-radius: inherit;
        }
    }
 
}

@media only screen and (min-width:200px ) and (max-width:550px){
    .contact_form {
        margin-top: 20px;
        &_info {
            display: block;
            mat-form-field {
                padding: 0px;
            
            }
        }
        &_subject, &_message {
            padding: 0;
         
        }
    }
}