<nb-layout>

    <nb-layout-header  class="layout-header" >
        <banner style="width: 100%;" ></banner>
    </nb-layout-header>
    
    <nb-layout-column style="padding: 0px !important; ">
        <section class="user" >
            <!-- user background -->
          <div class="user_background">
          </div>
          <!-- user background -->
        
          <!-- user tab -->
          <section class="user_tab">
        
            <!-- user tab connexion interface -->
            <div >
        
            <!-- user tab back button -->
                <div class="user_tab_backButton"> 
                    <button routerLink='/' mat-mini-fab style="background-color: white !important;"><mat-icon style="color: black;">keyboard_arrow_left</mat-icon></button>

                    <div class="user_tab_connectButton">
                        <button  mat-stroked-button (click)="goToRegister()" *ngIf="dynamicComponent === login">S'inscrire</button>
                        <button mat-stroked-button (click)="goToLogin()" *ngIf="dynamicComponent === register ">Se connecter</button>

                    </div>
                 </div>
            <!-- user tab back button  -->


           
        
            <!-- dyamic component  -->

                <div *ngComponentOutlet ='dynamicComponent'>

                </div>
            <!-- dynamic component -->
            <div class="user_mobile_back">
                <div *ngIf="dynamicComponent === login ">
                    <span>Dejà connecté ?</span><span style="color: rgb(16, 110, 232);" *ngIf="dynamicComponent === login"  (click)="goToRegister()">S'inscrire</span>

                </div>
             
                <div *ngIf="dynamicComponent === register " >
                <span>Dejà inscris ?</span><span style="color: rgb(16, 110, 232);"   (click)="goToLogin()">Se Connecter</span>
              </div>
    
            </div>

            </div>
            <!-- user tab connexion button -->
        
         
        </section>
        <!-- user tab -->
    
        </section>
    </nb-layout-column>
    
    
</nb-layout>

