.page_contact {
    &_banner{
        width: 100%;
        height: 130px;
        background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        &_title {
            > span {
                font-family: 'Lilita One',sans-serif;
                color: white;
                font-size: 3em;
                text-transform: capitalize;
            }
        }
    }

    &_content{
        width: 100%;
        height: auto ;
        background-color: orange;
        display: flex;
        align-items: center;
        justify-content: center;
        > section {
            width: 80%;
            height: auto;
            background: crimson ;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

    &_map {
        width: 100%;
        height: 100%;
        background: orangered;
        > div {
            width: 100%;
        height: 100%;
        background: blue;
        }
    }
    &_form {
        background: coral;
        width: 100%;
        height: 100%;
    }
    }
}

.contact_form{
    > div {
        width: 100% ;
    }
}