<nb-layout>
    <nb-layout-header fixed>
        <banner style="width: 100%;"></banner>
    </nb-layout-header>

    <nb-layout-column style="background-color: white; padding: 0px !important;">
       <section class="page_contact">
           <!-- banner -->
           <section class="page_contact_banner">
               <div class="page_contact_banner_title">
                   <span>Nous contacter</span>
               </div>
               
           </section>
           <!-- banner -->

           <!-- content -->
           <section class="page_contact_content">
               <section style=" display: flex;justify-content: center;align-items: center;">
                    <div class="page_contact_content_map">
                       <div>
                         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15867.077886189296!2d1.3565786499999999!3d6.16162105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2stg!4v1634387602302!5m2!1sfr!2stg" 
                         width="300" height="300" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
                       </div>
                    </div>
    
                    <div class="page_contact_content_form">
                        <app-contact></app-contact>
                    </div>
               </section>
             
           </section>
           <!-- content -->


       </section>
    </nb-layout-column>
</nb-layout>
