<nb-layout>
    <nb-layout-header fixed>
        <banner style="width: 100%;"></banner>
    </nb-layout-header>

    <nb-layout-column style="background-color: white; padding: 0px !important;">
       <section class="page_contact">
           <!-- banner -->
           <section class="page_contact_banner">
               
               <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7933.197405111622!2d1.2117842968785382!3d6.184437689626298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2stg!4v1634562192310!5m2!1sfr!2stg" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
               
           </section>
           <!-- banner -->

           <!-- content -->
           <section class="page_contact_content">

                <section class="page_contact_content_title " >
                    <span>
                        Nous Contacter
                    </span>
                </section>

               <section class="page_contact_content_section">
    
                    <div class="page_contact_content_form">
                        <app-contact></app-contact>
                    </div>
               </section>
             
           </section>
           <!-- content -->


       </section>
    </nb-layout-column>
</nb-layout>
