$default-width: 100%; 
$default-height: 100%; 

.login_back {
    height: auto;
    /* background: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.display_default {
    display: flex ;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    display: block !important;
    font-family: 'Roboto Condensed', sans-serif;
}
.login_header {
    width: 100%;
    height: auto;
    margin-top: 20px ;
    // background-color: brown;
    &_logo {
        display: flex;
        justify-content: center;
       > img {
           width: 300px;
       }
    }
    &_subtitle{
        padding-top: 10px;
        text-align: center;
        > span{
            font-family: 'Roboto Condensed', sans-serif;
            line-height: 1em;

        }
    }
}
.login_page {
    width: $default-width;
    // background-color: rosybrown;

    .login_page_card {
        @extend .display_default;
        width: $default-width;
        // background-color: royalblue;

        .login_page_card-content{
            width: 100% ;
            height:auto ;
            // background-color: white;
            border-radius: 4px ;
            // display: grid;
            // grid-template-rows:3FR 1fr  ;


            .login_page_card-header {
                span{
                     display: block ;
                }
            }

            .login_page_card-body {
                @extend .display_default;
                width: 100%;
                flex-direction: column;
                // background-color: salmon;

                // fomulaire
                > form {
                    // background: orange;
                    width: 90%;
                    height: 90%;
                    padding: 5px;
                    margin-top: 10px;
                    .login_page_card-body_actions{
                        > button{
                            // background: #106EE8;
                            // color: white; 
                            display: block;
                            width: 100%;
                            font-family: 'Poppins', sans-serif;
                                text-transform: uppercase;
                               
                        }
                        > div {
                            width: 100%;
                            margin-top: 20px;
                            text-align: center;
                            font-family: 'Roboto Condensed', sans-serif;
                            > a{
                                color: black;
                            }
                        }
                    }
                    
                   

                }
                // formulaire


                // text default 
                &_textDefault{
                    width: 100%;
                    height: 40px;
                    // background:violet ;
                    margin-top: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                     ::before, ::after{
                        content:'';
                        width:4em;
                        margin-left: 20px ;
                        margin-right: 20px;
                        border-bottom: 2px black solid;
                        display:inline-block;
                        vertical-align:middle;
                    }
                    > span{
                       font-family: 'Roboto Condensed', sans-serif;
                       text-transform: uppercase;
                    }

                }
                // text default


                // google button
                &_google{
                    width: 100%;
                     display:flex;
                      justify-content: center;
                       align-items: center; 
                       margin-top: 20px  ;
                       > button {
                        width: 150px ; 
                        font-family: 'Roboto Condensed';
                         font-weight: bold ;
                          img{
                            width: 20px;
                            height: 20px;
                         }
                       }
                }
                // google button 
            }
        }
    }

}

@media only screen and (min-width:200px) and (max-width: 990px){
    .login_page_card-body{
        margin-top: 20px;
        // background: blue;
        &_textDefault{
            // display: none;
            // background: rgb(214, 214, 214) ;
            visibility: none;
        }
    }
    .login_header{
        &_logo{
            display: none;
        }
        &_subtitle {

            > span {
                font-size: 2.5em;
              font-family: 'Poppins', sans-serif;
            }
        }
    }
   
}

@media only screen and (min-width:200px) and (max-width: 550px){
   .login_page_card-body_textDefault{
      display: none;
}
.login_header{
 
    &_subtitle {
        margin-top: 30px;
        padding-top: 0px;
        > span {
            font-size: 2.5em;
        }
    }
}
}
@media only screen and (min-width:200px) and (max-width: 320px){
    .login_header_subtitle {
        margin-top: 70px;
        > span {
            font-size: 2em;
        }
    }
}