$default-width: 100%; 
$default-height: 100%;

.color{
    color: red;
}
// default flexbox style 
.display__style__default{
    display: flex;
    justify-content: center;
    align-items: center;
}
//banner-style
.home{
    &_banner {
        width: $default-width;
        height: 500px;
        background: #cc3528;
        backdrop-filter: blur( 0.0px );
        -webkit-backdrop-filter: blur( 0.0px );
        &_swiper {
            width: 100% ;
            height: 100%; 
            // background-color: yellow; 
            &_content {
                width: 100% ;
            height: 100%; 
                display: flex; 
            justify-content: center; 
            align-items: center; 
            // background-color: #cc3528;
             > div {
                 width: 70%; 
                 height: auto;
                //  background-color: chocolate; 
             }
             &_title {
                 height: auto; 
                 width: auto; 
                 padding: 20px; 
                //  background: crimson;
                 text-align: center;
                 > span {
                     font-family: 'Poppins', sans-serif; 
                     font-size: 4em; 
                     line-height: 1em; 
                     color: white
                 }
             }
             &_desc {
                 padding: 20px; 
                 height: 60px; 
                 text-align: center; 
                //  background-color: blue; 
                 display: flex;
                 align-items: center;
                 > span {
                     font-family: 'Fira Sans', sans-serif; 
                     color: white
                 }
             }
             &_button {
                 height: 60px ; 
                //  background-color: palegoldenrod; 
                 display: flex;
                 justify-content: center; 
                 align-items: center;
                 > button {
                     border-radius: 20px; 
                     background-color: #bb1e32; 
                     color: white; 
                     padding: 5px;
                     width: 150px;
                    //  box-shadow: 0 6px 12px #868c96a6;
                    span {
                        font-family: 'Poppins', sans-serif; 
                    }
                 }
             }
          
            }
        }
        
    &_menu{
        @extend .display__style__default;
        width: $default-width;
        height: 120px;
        // background: red;
        display: none;
        &_nav {
            width: 80%;
            height: 80px;
            background: white;
            border-radius: 4px;
            display: grid;
            grid-template-columns: 1fr 4fr;
            -webkit-box-shadow: -2px 2px 54px 0px rgba(219,219,219,1);
            -moz-box-shadow: -2px 2px 54px 0px rgba(219,219,219,1);
            box-shadow: -2px 2px 54px 0px rgba(219,219,219,1);
            &_links{
                @extend .display__style__default;
                // background: yellow;
                
                div{
                    width: 600px;
                 height: 40px;
                  background: violet;
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr 1fr  1fr;
                  aside {
                      @extend .display__style__default;
                      a{
                          text-decoration: none ;
                          text-transform: capitalize;
                          font-size: 19px;
                          color: white ; 
                          font-family:Arial, Helvetica, sans-serif, Courier, monospace;

                      }
                  }
                }
               
            }
        }

    }
    }

    &_categories {
        height: auto;
        width: 100%;
        // background: orange;
        padding-bottom: 20px;
        &_title{
            width: 100%;
            height: 100px;
            // background: crimson;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            > span {
                font-family: 'Poppins', sans-serif;
                font-size: 2.5em ;
                line-height: 1em;
            }
        }
        &_desc {
            width: 100%;
            padding: 20px;
            // background: violet ;
            display:flex ;
            align-items: center;
            justify-content: center;

            > div {
                width: 80%;
                // background: chocolate ;
                text-align: center;

                > span {
                    font-family: 'Fira Sans', sans-serif;
                }
            }
           
        }
        &_content{
            width: 100%;
            padding: 20px;
            height:auto;
            // background: rgb(58, 78, 117);
            display: flex;
            justify-content: center;
            align-items: center;
            > div{
                width: 90%;
            // height: 80%;
            height: auto;
            // background: orangered;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            }
            &_category {
                background-color: white;
                // border: 1px solid black;
                width: 130px;
                height: auto;
                box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
                transition: background-color 0.5s;
                &:hover {
                    cursor: pointer;
                    background-color: #bb1e32;
                    color: white;
                    transition: background-color 0.5s;
                }
                &_icon {
                    width: 100%;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // background: violet;
                   
                    > img {
                        width: 60px;
                        height: 60px;
                    }
                }

                &_name {
                    width: 100%;
                    height: 40px;
                    display: flex ;
                    justify-content: center;
                    align-items: center;
                    // background: crimson;
                    > span {
                        font-family: 'Lilita One', sans-serif;
                        text-transform: uppercase;
                    }
                }
            }
        }
        &_button{
            width: 100%;
            height: 60px;display: flex;justify-content: center;
            align-items: center;
            > button {
                width: 180px;
                background: #bb1e32;
                display: flex;
                justify-content: center ;
                box-shadow: 0 6px 12px #868c96a6;
                 span {
                    color: white;
                    font-family: 'Poppins', sans-serif;
                }
            }
        }
    }


    &_about {
        width: 100%;
        height:500px;
        background: #cc3528;
        display: grid;
        grid-template-columns: 1fr 1fr;
        &_content {
            width: 100%;
            height: 100%;
            background: #cc3528;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &_title {
                width: 100%;
                height: 100px;
                padding: 20px;
                display: flex;
                align-items: center;
                // background: orangered;
                > span {
                    font-family: 'Poppins', sans-serif;
                    font-size: 2.5em;
                    text-transform: capitalize;
                    line-height: 1em;
                    color: white;
                }


            }
            &_desc {
                width: 100%;
        
            padding: 20px;
            // background: blue ;

            > span {
                font-family: 'Fira Sans', sans-serif;
                color: white;
                
            }
            }
        }
        &_image {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &_products {
        width: 100%;
        height: auto;
        // background: orange;
        &_title {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            // background: violet;
            > span {
                font-family: 'Poppins', sans-serif;
                font-size: 2.5em ;
                text-transform: capitalize;
            }
        }
        &_content{
            width: 100%;
            height: auto;
            // background: orangered ;
            display: flex;
            justify-content: center;
            > div {
                width: 80%;
                display: flex;
                    justify-content: center;
                    align-items: center;
                    height: auto;
                    // padding: 20px;
                    flex-wrap: wrap;
            }
            &_product{
                width: 230px;
                height: 370px;
                margin: 15px;
                border: 1px solid white;
                border-radius: 5px;
                padding: 5px;
                background-color: white;
                display: grid;
                grid-template-rows: 2fr 1fr ;
                box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
                &_image{
                    //   background-color: brown;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                  }
                  &_name{
                    //   background-color: cadetblue;
                      height: auto;
                      text-align: center;

                      > a{
                          font-family: 'Lilita One', sans-serif;
                        //   font-weight: bold ;
                          text-transform: uppercase;
                          font-size: 1.3em;
                        //   text-decoration: underline;
                        color: black;
                          &:hover{
                              cursor: pointer;
                          }

                      }
                  }
            
                  &_promo {
                      
                    width: 100px;
                    height: 20px;
                    color: white;
                    background: crimson;
                    font-family: 'Lilita One', sans-serif;
                    text-transform: uppercase;
                    padding: 5px;
                    margin-top: -5px;
                    margin-left: -5px;

                  }
                  &_desc{
                      height: 50px;
                    //   background-color: coral;
                    //   text-align: center;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-family: 'Roboto Condensed', sans-serif;
                      > del{
                          font-weight: bold ;

                      }
                      > span{
                          padding-left: 10px ;
                          font-size: 1.2em;
                          font-weight: 600;
                          color: #B90B0B;

                      }
                  }
                  &_actions{
                      display: flex ;
                      justify-content: center;
                      height:50px;
                      &_button{
                        // background-color: cyan; 
                        display: flex; 
                        justify-content: center;
                        align-items: center;
                        > button{
                        font-family: 'Roboto Condensed', sans-serif  !important;
                            // font-weight: 800;
                        }
                      }
                  }

            }
            
        }
    }
    &_ceo {
        width: 100%;
        height: 400px;
        background: #cc3528;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &_citation {
            width: 100%;
            height: 100px ;
            // background: orange;
            display: flex;
            justify-content: center;
            align-items: center;
            > div {
                width: 80%;
                height: 100%;
                // background: coral;
                display: flex;
                justify-content: center;
                align-items: center;
                > span {
                    text-align: center ;
                    font-family: 'Fira Sans', sans-serif;
                    color: white;
                }
            }
         
         
            }
            &_profil{
                width: 100%;
                height: 100px;
                // background: yellow;
                display: flex;
                align-items: center;
                justify-content: center;
                > div {
                    width: 80px;
                    height: 80px;
                    background: white;
                    border-radius: 50%;
                }

        }
        &_name, &_role {
            width: 100%;
            height:auto;
            padding: 20px;
            // background: cornflowerblue;
            display: flex; 
            justify-content: center;
            > span {
                font-family: 'Poppins', sans-serif;
                color: white;
                font-size: 1.3em;
            }
        }
        &_role {
            // background: darkcyan;
            padding: 0px;
            > span{
                font-family: 'Fira Sans', sans-serif;
                text-transform: capitalize;
                font-size: 1em;
                letter-spacing: 3px;
                padding-bottom: 20px;
            
            }
        }
    
    }
    &_offers {
        width: 100%;
        height: auto;
        // background: chocolate ;
        &_title {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            // background: violet;
            > span {
                font-family: 'Poppins', sans-serif;
                font-size: 2.5em ;
                text-transform: capitalize;
                line-height: 1em;
            }
            
        }
        &_content {
            width: 100%;
            height: auto;
            padding: 20px ; 
            // background: orangered;
            display: flex;
            justify-content: space-around;
            > div {
                height: auto;
                width: 300px;
                background: #ececec;
            }
            &_offer {
                &_icon {
                    width: 100%;
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // background: palevioletred;
                }
                &_title{
                    height: auto;
                    width: 100%;
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // background: purple;
                    > span{
                        text-align: center;
                        font-family: 'Poppins', sans-serif;
                        font-size: 1.3em;
                        // color: white;
                        text-transform: capitalize;
                    }
                    
                }
                &_desc {
                    height: auto;
                        width: 100%;
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // background: burlywood;
                        > span{
                            text-align: center;
                            font-family: 'Fira Sans', sans-serif;
                            // color: white;
                        }
                }
                &_button {
                    width: 100%;
                    padding: 20px;
                    // background: coral;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    > button {
                        background: #106EE8;
                    width: 150px;
                    box-shadow: 0 6px 12px #868c96a6;

                         span {
                            color: white;
                            font-family: 'Poppins', sans-serif;
                        }
                    }
                }
            }
            
        }
    }
    &_skills {
        width: 100%;
        height: 400px;
        padding: 20px;
        background: #cc3528 ;
        display: flex;
        justify-content: space-around;
        > div {
            width: 300px;
            height: 100%;
            // background: white;
            display: grid;
            grid-template-rows: 1fr 1fr;

        }
        &_icon  {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            // background: cadetblue;
        }
        &_desc {
            width: 100%;
            height: auto ;
            padding: 20px;
            // background: orangered;
            text-align: center;
            > span {
                font-family: 'Fira Sans', sans-serif;
                color: white;
            }

        }
    }
}



// mobile parts 

@media only screen and (min-width:200px) and (max-width: 990px){
    .home{
        &_about {
            height: auto;
            grid-template-columns:none;
            grid-template-rows: 1fr 1fr;
            &_content{
                &_title {
                    justify-content: center;
                    text-align: center;
                }
                &_desc {
                    text-align: center;
                }
            }
            &_image {
                img {
                    width:300px;
                }
            }
        }

        &_offers {
            &_content {
                flex-wrap: wrap;
                > div {
                    margin: 10px;
                }
            }
        }
        &_ceo {
            padding: 20px;
        }
        &_skills {
            flex-wrap: wrap;
            height: auto;
            > div {
                margin: 10px;
            }
        }
    }

}

@media only screen and (min-width: 200px) and (max-width:550px){
    .home{
        &_banner {
            height: 100vh;
            margin-bottom: 20px;
            &_swiper_content{
                > div{
                    width: 90%;

                }
                &_title {
                    > span {
                        font-size: 2em;
                    }
                }
                &_desc {
                    height: auto;
                }
            }
        }
        &_categories {
            &_title{
                > span {
                     font-size: 2em;
                padding: 10px;
            }
           
            }
            &_desc {
                padding: 0px;
            }
            &_content{
                > div {
                    width: 100%;
                }

            }
        }
        &_ceo{
            &_citation {
                height: auto;
            }
        }
    }
}